<%- include ('./partials/header') %>
		<div class="container text-center">
			<h1>Error!</h1>
			<img src="./sad-face.png" width="300" alt="sad face">
			<p>Something went wrong</p>
			<a href="/" class="nav-link">Go back to home page</a>
		</div>
<%- include ('./partials/footer') %>