<%- include ('./partials/header') %>
		<div class="container">
			<div class="faq" id="faq1">
		      <h5>Is this app free to use?</h5>
		      <p id="faq1a" class="showfaqans">Yes. It's 100% free to use.</p>
		    </div><br>

		    <div class="faq" id="faq2">
		      <h5>Do I need an account to download videos?</h5>
		      <p id="faq2a" class="showfaqans">No. You don't need an account. Just paste youtube link and download.</p>
		    </div><br>

		    <div class="faq" id="faq3">
		      <h5>Is this app safe to use?</h5>
		      <p id="faq3a" class="showfaqans">Yes. It's 100% safe to use. No ads, no malware, no viruses.</p>
		    </div><br>

		    <div class="faq" id="faq4">
		      <h5>Can I just download audio file from Youtube link?</h5>
		      <p id="faq4a" class="showfaqans">Yes. Find the desired audio format from the download options.</p>
		    </div><br>
		</div>
		<script src="/faq.js"></script>
<%- include ('./partials/footer') %>